nav {
    letter-spacing: 0.1em;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin-top: 10px;
    border-bottom: 2px solid white; /* Add white border at the bottom */
}

nav ul {
    list-style-type: none;
    display: grid;
    gap: 10px;
    box-sizing: border-box;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 20px 0;
    width: 100%;
    background-color: transparent !important;
    text-align: left; /* Align text to the left */
}

body {
    font-family: Times New Roman, Arial, sans-serif;
    background-color: #00005D;
    margin: 0;
    box-sizing: border-box;
    display: flex; /* Added */
    flex-direction: column; /* Added */
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#wrapper {
    background-color: #b3c7e6;
    color: #000066;
    width: 80%;
    margin: auto;
    min-width: 940px;
    display: grid;
    grid-template-columns: 1fr;
}

header {
    background-color: #869dc7;
    color: #00005D;
    font-size: 150%;
    padding: 10px;
    background-image: url(/images/Birdman\ Sountrack\ Cover.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-items: center;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
    padding-right: 20px;
    font-size: .80em;
    font-style: italic;
    text-align: right;
    color: #00005D;
}

article header {
    background-color: #FFFFFF;
    background-image: none;
    font-size: 100%;
    padding-left: 0;
    height: auto;
}

#content {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
}

h2 {
    color: #869dc7;
    font-family: arial, sans-serif;
    margin: 5px;
}

footer {
    font-size: 70%;
    text-align: center;
    padding: 10px;
    background-color: #869dc7;
}

#nav-article-container {
    display: flex;
    flex-direction: column;
}

#article-float-container {
    display: flex;
    flex-direction: column;
}

article {
    width: 100%;
}

#floatright {
    margin-top: 20px;
    align-self: center; 
}